@using AutoShop.Data.Models
@model IEnumerable<Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>List</title>
</head>
<body>
    <h2>Все автомобили</h2>    
    @{
            foreach (var car in Model)
            {

            }
     }
</body>
</html>
